<div class="static-page-wrapper">

  <h1>About</h1>

  <p>The name T206 refers to the catalog designation assigned by Jefferson
    Burdick in his book The American Card Catalog. It is also known informally
    as the "White Border" set due to the distinctive white borders surrounding
    the lithographs on each card.</p>

  <p>The T206 set consists of 524 cards. Over 100 of the cards picture minor
    league players. There are also multiple cards for the same player in
    different poses, different uniforms, or even with different teams after
    being traded (since the set was issued over a period of three years). The
    cards measure 1 7⁄16 by 2 5⁄8 inches (3.7 cm × 6.7 cm) which is considered
    by many collectors to be the standard tobacco card size.</p>

  <p>The T206 set is the most popular and widely collected set of the
    tobacco/pre-war era. The historical significance of the set as well as the
    large number of variations give it enormous appeal to collectors. In
    addition, the set features many Baseball Hall of Fame members including Ty
    Cobb (who is pictured on 4 different cards), Walter Johnson, Cy Young, and
    Christy Mathewson. The value of the cards has led to a great deal of
    counterfeiting over the years. The T206 Collection: The Players & Their
    Stories by Tom and Ellen Zappala and Peter Randall Publishers highlights
    the personal and professional lives of the players in the collection and
    discusses the values of the cards as well as the mystique behind the
    collection.</p>

    <p>Source: Wikipedia</p>

  </div>
