<div class="static-page-wrapper">

  <h1 class="styled-text">Contribute</h1>

  <p>This site is meant to be a community resource and any help or
    contributions from the community are more than welcome. In order for this
    site to be a great resource, it will need to aggregate the collected
    experience and wisdom of the many that came before it and the many T206
    scholars who have dedicated countless hours to understanding the T206
    baseball card set better than I can hope to imagine.</p>

  <p>There are many ways to contribute, here are some:
    <ul>
      <li>Correcting an error or oversight</li>
      <li>Contributing data</li>
      <li>Collaborating or contributing research</li>
      <li>Suggest a resource</li>
      <li>Suggest a feature or enhancement to the site</li>
      <li>Suggest a new research study of the T206 set</li>
    </ul>
  </p>

  <p>Contributing is easy. Just click
    <a href="https://github.com/jdesilvio/monster/issues" target="_blank">
      here</a>
    and create a new issue in GitHub. If you are not familiar with GitHub,
    it is the "World's largest open source community". Every line of code for
    this website is there for you to browse and contribute to if you are
    inclined.</p>

</div>
