<div class="wrapper-page">
  <div id="home-main">
    <h1 class="home-text header-text oldnum styled-text">Explore the T206 Set</h1>
    <a href="cards/new">
      <div class="panel">
        <h2 class="panel-text-light">Prices & Population</h2>
      </div>
    </a>
    <a href="http://192.81.208.139/">
      <div class="panel">
        <h2 class="panel-text-light">T206 Computer Vision</h2>
      </div>
    </a>
   </div>
</div>
