<div>
  <h1 class="top-header">Card Information</h1>
</div>

</br>

<div>
  <div class = "filter">
    <input type="search" class="light-table-filter" data-table="order-table" placeholder="Filter"/>
  </div>

  <table class="order-table">
    <thead>
      <th>Card Back</th>
      <th>Amount</th>
    </thead>
    <tbody>
      <% @agg_backs.each_row do |row| %>
        <tr>
          <% row[0][1..-2].gsub('"', '').reverse.sub(',', '|').reverse.split('|').each do |a| %>
            <td><%= a %></td>
          <% end %>

        </tr>
      <% end %>
    </tbody>
  </table>

  <table class="order-table">
    <thead>
      <th>Card Name</th>
      <th>Card Back</th>
      <th>Grade</th>
      <th>Quantity</th>
      <th>Estimated Value</th>
    </thead>
    <tbody>
      <% @info.each do |row| %>
        <tr>
          <% row.attributes.each do |key, value| %>
            <% if key == 'val' %>
              <td><%= "#{number_to_currency(value)}" %></td>
            <% else %>
              <td><%= "#{value}" %></td>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
