<div>
  <h1 class="top-header">Card Information</h1>
</div>

</br>

<div>
  <table class="card-table">
    <thead>
      <th>Card Name</th>
      <th>Card Back</th>
      <th>Grade</th>
      <th>Quantity</th>
    </thead>
    <tbody>
      <% @info.each do |row| %>
        <tr>
          <% row.each do |element| %>
            <td><%= element %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
