<div class="bg-image bg-image-sex">
  <h1 class="top-header">Card Information</h1>
</div>

</br>

<div class="Testtable">
  <table>
    <thead>
      <th>Details</th>
    </thead>
    <tbody>
      <% @info.each do |row| %>
        <tr>
          <% row.each do |element| %>
            <td><%= element %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
