<div>
  <h1 class="top-header">T206 Query</h1>

  </br>

  <div class="home-text">
    <%= form_for @card do |f| %>
      <h3> Input card name: </h3>
      <%= f.text_field :card_name %>
      <%= f.submit "Submit"%>
    <% end %>
  </div>

</div>
