<div class="wrapper-page">
  <div id="home-main">
    <h1 class="home-text header-text oldnum styled-text">Explore the Cards</h1>
  </div>
  <div class="panel">
    <div class="card-input body-text oldnum">
      <%= form_for @card do |f| %>
        <%= f.select :card_name, options_from_collection_for_select(Psa_pop.select(:psa_card).distinct.order(:psa_card), :psa_card, :psa_card, ) %>
        </br>
        <%= f.submit "Card Details"%>
      <% end %>
    </div>
  </div>
</div>
