<body id="home">
  <%=image_tag("logo.png", alt: "Logo")%>
  <div>
    <div class="card-input">
      <%= form_for @card do |f| %>
        </br></br></br></br>
        <%= f.text_field :card_name, :placeholder => "Input Card Name (Ex: Cobb)" %>
        </br></br></br>
        <%= f.submit "Submit"%>
      <% end %>
    </div>
  </div>
</body>
