.top-header {
  color: black;
  text-align: center;
  padding: 40px;
  margin:0;
  font:3em "Helvetica", cursive;
}

div.card-input {
  text-align: center;
  padding: 40px;
  margin: 40px;
}

div.card-input h3 {
  color: black;
  font:2em "Helvetica", cursive;
}

div.card-input form input[type=submit] {
  display: inline-block;
  padding: 5px 45px;
  font:1em "Helvetica", cursive;
  line-height: 1.8;
  appearance: none;
  box-shadow: none;
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  color: #f0f0f0;
  background: #2cb22c;
  border: none;
  position: relative;
  margin:0 auto;
  text-align: center;
}

div.card-input form input[type=submit]:hover {
  background: #32CD32;
}

div.card-input form input[type=text] {
  display: inline-block;
  padding: 5px 45px;
  font:1em "Helvetica", cursive;
  line-height: 1.8;
  appearance: none;
  box-shadow: none;
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  color: #CA0027;
  background: #f0f0f0;
  border: none;
  position: relative;
  margin:0 auto;
  text-align: center;
}

.button-span {
  text-align: center;
}

table {
  color: black;
  text-align: center;
  padding: 40px;
  font:1em "Helvetica", cursive;
  width:70%;
  margin-left:15%;
  margin-right:15%;
  border-collapse: collapse;
}

th, td {
   border: 1px solid #CCCCCC;
  padding: 10px;
}

tbody tr:nth-child(odd) {
   background-color: #E6E6E6;
}


input[type="search"] {
  font:1em "Helvetica", cursive;
  margin: 0 0 10px 0;
  padding: 10px;
	width: 70%;
	border: 1px solid #CCCCCC;
}

input[type="search"]:focus {
	border-color: #009C7C;
	background: #fff;
	color: #5d5d5d;
	box-shadow: 0 1px 1px rgba(60, 140, 210, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6)
}

div.filter {
  text-align: center;
}
