/* Sass variables */

$font-header: "english-small-caps",serif;
$font-body: "lato",sans-serif;
$fallback-body: sans-serif;

@media (min-device-width: 0px) and (max-device-width: 767px) {
  h2, h3, h4, h5, h6 {
    font-family:$fallback-body;
  }

  h1 {
    font-family: $font-header;
    font-size: 6em;
  }

  h2 {
    font-size: 3.75em;
  }

  h3 {
    font-size: 2.625em;
  }

  h4 {
    font-size: 2em;
  }

  h5 {
    font-size: 1.875em;
  }

  h6 {
    font-size: 1.5em;
  }

  div.card-input form input[type=submit] {
    font-family:$fallback-body;
    font-size: 2.25em;
  }

  div.card-input form select,
  div.card-input form select option {
    font-family:$fallback-body;
    font-size: 1.5em;
  }

  input[type="search"] {
    font-family:$fallback-body;
    font-size: 1.5em;
  }

  table {
    font-family:$fallback-body;
    font-size: 1.5em;
  }

  th, td {
    font-family:$fallback-body;
    font-size: 1.5em;
  }

  .navbar-right a {
    font-family:$fallback-body;
    font-size: 1.5em;
  }
}

@media (min-device-width: 768px) {
  h2, h3, h4, h5, h6 {
    font-family:$font-body;
    font-weight: 100;
  }

  h1 {
    font-family: $font-header;
    font-size: 4em;
  }

  h2 {
    font-size: 2.5em;
  }

  h3 {
    font-size: 1.75em;
  }

  h4 {
    font-size: 1.5em;
  }

  h5 {
    font-size: 1.25em;
  }

  h6 {
    font-size: 1em;
  }

  div.card-input form input[type=submit] {
    font-family:$font-body;
    font-size: 1.5em;
  }

  div.card-input form select,
  div.card-input form select option {
    font-family:$font-body;
    font-size: 1em;
  }

  input[type="search"] {
    font-family:$font-body;
    font-size: 1em;
  }

  table {
    font-family:$font-body;
    font-size: 1em;
  }

  th, td {
    font-family:$font-body;
    font-size: 1em;
  }

  .navbar-right a {
    font-family:$font-body;
    font-size: 1em;
  }
}

/* basic element syling */

html, body {
  margin: 0;
  padding: 0;
}

p, a {
  font-family:$font-body;
  font-variant-numeric: oldstyle-nums;
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
  font-variant-numeric: oldstyle-nums;
}

form input {
  margin: 40px;
}

.oldnum {
  font-variant-numeric: oldstyle-nums;
  -moz-font-feature-settings: "onum";
  -ms-font-feature-settings: "onum";
  -webkit-font-feature-settings: "onum";
  font-feature-settings: "onum";
}

/* homepage styling */

body#home {
  background: asset-data-url('t206bg.jpeg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

div#home-main {
  margin: auto;
  margin-top: -5%;
  text-align: center;
  width: 60%;
}

.home-text {
  color: white;
  text-shadow: 0 2px 3px rgba(0,0,0,.4);
}

/* header and footer */

#footer_home {
  height: 30px;
  line-height: 30px;
  float: left;
	padding: 25px;
	min-width: 100%;
  margin: 0% -8px;
  box-shadow: 0 -2px 3px rgba(0,0,0,.4);
  position: fixed;
}

#footer {
  background: #2E2E2E;
  height: 30px;
  line-height: 30px;
  float: left;
  overflow:hidden;
  margin: 0;
	padding: 25px 0px;
	width: 100%;
  box-shadow: 0 -2px 3px rgba(0,0,0,.4);
}

#footer small {
  padding: 0px 25px;
}

#footer_home {
  background: #000;
  opacity: .4;
  bottom: 0%;
}

.git-link {
  color: white;
  font-size: 1em;
  text-decoration: none;
}

.git-link:hover {
  color: #ccc;
}

#header {
  height: 70px;
  background: #646464;
	min-width: 100%;
  position: fixed;
  margin: 0% -8px;
	padding: 25px;
  top: 0%;
  box-shadow: 0 2px 3px rgba(0,0,0,.4);
}

#header-logo {
  height: 70px;
}

.home-nav {
  height: 70px;
  padding: 0 8px 140px 8px;
}

.nav-main {
  width: auto;
  float: left;
  line-height: 24px;
  padding-right: 8px;
  border-right: 2px solid #AAA;
  margin-right: -1px;
}

.navbar-right {
  margin:0;
  right: 12.5%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  float:right;
  display:block;
  overflow:hidden;
}

.navbar-right a {
  text-align:center;
  color:white;
  text-decoration:none;
  text-transform:uppercase;
  letter-spacing:1px;
}

.navbar-right a:hover {
  color: #CCC;
}

.user-actions {
    width: auto;
    float:right;
    padding: 0 4px 0 4px;
    display: inline;
    line-height: 24px;
}

.user-actions a {
  font-size: .75em;
  text-align:center;
  color:white;
  text-decoration:none;
  text-transform:uppercase;
  letter-spacing:1px;
  padding: 0 4px 0 4px;
}

.user-actions a:hover {
  color: #ccc;
}

.sign-up-button {
  float: right;
}


/* */

.top-header {
  color: black;
  text-align: center;
  margin-top: 160px;
}

div.card-input {
  text-align: center;
  padding: 20px;
  margin: 20px;
}

div.card-input h3 {
  color: white;
  font-size:2em;
}

div.card-input form input[type=submit] {
  font-weight: 100;
  line-height: 1.8;
  display: inline-block;
  width: auto;
  padding: 5px 20px;
  background: Transparent;
  color: #fff;
  border: 1.5px solid #fff;
  border-radius: 5px;
  text-align: center;
  outline: none;
  text-decoration: none;
  transition: background-color 0.5s ease-out,
              border-color 0.5s ease-out,
              color 0.5s ease-in;
}

div.card-input form input[type=submit]:hover,
div.card-input form input[type=submit]:active{
  background-color: #fff; /* fallback */
  background-color: rgba(255, 255, 255, 0.4);
  border-color: #fff; /* fallback */
  border-color: rgba(255, 255, 255, 0.4);
  transition: background-color 0.3s ease-in,
              border-color 0.3s ease-in,
              color 0.3s ease-in;
}

div.card-input form select,
div.card-input form select option {
  text-align: center;
  display: inline-block;
  height: 50px;
  line-height: 1.8;
  appearance: none;
  box-shadow: none;
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  color: black;
  background: rgba(255, 255, 255, .5);
  border: none;
  position: relative;
  margin:0 auto;
  width: auto;
  padding: 0px 40px;
}

.button-span {
  text-align: center;
}

/* table */

table {
  color: black;
  text-align: center;
  width:80%;
  margin: 0% 10% 10% 10%;
  border-collapse: collapse;
}

.table-title {
  text-align: center;
}

th, td {
  border: 1px solid #CCCCCC;
  padding: 10px;
}

tbody tr:nth-child(odd) {
  background-color: #E6E6E6;
}

/* search filter */

input[type="search"] {
  margin: 0 0 10px 0;
  padding: 10px;
	width: 80%;
	border: 1px solid #CCCCCC;
}

input[type="search"]:focus {
	border-color: #009C7C;
	background: #fff;
	color: #5d5d5d;
	box-shadow: 0 1px 1px rgba(60, 140, 210, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6)
}

div.filter {
  text-align: center;
}
